body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    background-color: white;
}

.main {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    
}

/* #region titles*/
.main-title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 56px;
    letter-spacing: 0.02em;
    line-height: 1.1;
    color: white;
    text-align: center;
}


.section-title {
    font-family: "Roboto", sans-serif;
    color: #2E2F42;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.02em;
}
/* #endregion titles*/

h2 {
    font-family: "Roboto", sans-serif;
    color: #2E2F42;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.02em;
    text-align: left;
}

h3 {
    font-family: "Roboto", sans-serif;
    color: #2E2F42;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    text-align: left;
}

p {
    font-family: "Roboto" ,sans-serif;
    color: #434455;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    text-align: left;
}


ul {
    list-style-type: none;
}


.backcolor1 {
    background-color: #2E2F42;
}
/* #region first name */
.logo {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    line-height: 1.07;
    font-weight: 700;
}

.name-web {
    color: #4D5AE5;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 1.07;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
}

.name-studio {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 1.07;
    letter-spacing: 0.03em;
    color: #2E2F42;
}

.name-studio-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.07;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}
/* #endregion first name */

/* #region adress */
.address {
    font-style: normal;

}

.address:hover,
.address:focus {
    text-decoration: none;
}

/* #endregion adress */

/* #region button */

button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4D5AE5;
    text-align: center;
    color: #F4F4FD;
    cursor: pointer;
}

button:hover,
button:focus {
    background-color: #404BBF;
}

/* #endregion button */

/* #region linck */
a {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.3;
    letter-spacing: 0.04rem;
    text-decoration: none;
    color: #434455;
}

a:hover,
a:focus {
    text-decoration: underline;
    color: #404BBF;
}


.nav,
.nav-studio {
    color: #2E2F42
}


.nav a:hover,
.nav-studio a:hover {
    color: #404BBF;
    text-decoration: none;
}

.nav-studio a:active {
    text-decoration: underline;
}
/* #endregion linck */

.team-section {
    background-color: #F4F4FD;
}

.our-portfolio {
    text-align: center;
}

/* #region our-team */
.our-team-li {
    background-color: white;
}

.our-team {
    text-align: center;
}

.our-team-text {
    text-align: center;
}
/* #endregion our-team */


/* #region footer */
.footer {
    background-color: #2E2F42;

}

.text-footer {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}

/* #endregion footer */